<a href="https://colab.research.google.com/github/liizmaria/successful_business_prediction/blob/main/venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (3).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])
# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)


# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [numerical_variables_df,
     encoded_df],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
X = X.dropna()

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state |equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
X_train

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32511,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5192,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12172,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
33003,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [21]:
# Create the Sequential model instance
nn = Sequential()

In [22]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [23]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5773 - accuracy: 0.7199
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7329
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7339
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7342
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7349
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7356
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7374
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7377
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7375
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7366
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7383
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7387
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7379
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7393
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7390
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7395
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7401
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7407

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5577 - accuracy: 0.7304 - 596ms/epoch - 2ms/step
Loss: 0.5577150583267212, Accuracy: 0.7303789854049683

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = 'AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 8

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+number_output_neurons_A1) //2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

62

In [37]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [38]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))


# Output layer
nn_A1.add(Dense(1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=70)

Epoch 1/70
804/804 [==============================] - 3s 2ms/step - loss: 0.7051 - accuracy: 0.6866
Epoch 2/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6609 - accuracy: 0.7077
Epoch 3/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6381 - accuracy: 0.7143
Epoch 4/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6458 - accuracy: 0.7097
Epoch 5/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6182 - accuracy: 0.7223
Epoch 6/70
804/804 [==============================] - 3s 3ms/step - loss: 0.6156 - accuracy: 0.7207
Epoch 7/70
804/804 [==============================] - 2s 2ms/step - loss: 0.7877 - accuracy: 0.7031
Epoch 8/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6110 - accuracy: 0.7155
Epoch 9/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6017 - accuracy: 0.7226
Epoch 10/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6064 - accuracy: 0.7244
Epoch 11/70
804/804 [==============================] - 2s 2ms/step - loss: 0.9279 - accuracy: 0.6498
Epoch 12/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6435 - accuracy: 0.6873
Epoch 13/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.7140
Epoch 14/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5942 - accuracy: 0.7223
Epoch 15/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5928 - accuracy: 0.7236
Epoch 16/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5933 - accuracy: 0.7290
Epoch 17/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6004 - accuracy: 0.7266
Epoch 18/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5866 - accuracy: 0.7299
Epoch 19/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5869 - accuracy: 0.7310
Epoch 20/70
804/804 [==============================] - 3s 4ms/step - loss: 0.9529 - accuracy: 0.6555
Epoch 21/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5826 - accuracy: 0.7306
Epoch 22/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5803 - accuracy: 0.7310
Epoch 23/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5841 - accuracy: 0.7309
Epoch 24/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5911 - accuracy: 0.7297
Epoch 25/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5844 - accuracy: 0.7309
Epoch 26/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6452 - accuracy: 0.7183
Epoch 27/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.7291
Epoch 28/70
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.7288
Epoch 29/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7314
Epoch 30/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5881 - accuracy: 0.7289
Epoch 31/70
804/804 [==============================] - 2s 2ms/step - loss: 0.9196 - accuracy: 0.6834
Epoch 32/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5947 - accuracy: 0.7264
Epoch 33/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5797 - accuracy: 0.7323
Epoch 34/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5764 - accuracy: 0.7321
Epoch 35/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5732 - accuracy: 0.7324
Epoch 36/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7318
Epoch 37/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5814 - accuracy: 0.7303
Epoch 38/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5696 - accuracy: 0.7330
Epoch 39/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5679 - accuracy: 0.7319
Epoch 40/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5808 - accuracy: 0.7234
Epoch 41/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5691 - accuracy: 0.7319
Epoch 42/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7246
Epoch 43/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5840 - accuracy: 0.7102
Epoch 44/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5641 - accuracy: 0.7317
Epoch 45/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5674 - accuracy: 0.7327
Epoch 46/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7344
Epoch 47/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7338
Epoch 48/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7316
Epoch 49/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7340
Epoch 50/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7345
Epoch 51/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5842 - accuracy: 0.7245
Epoch 52/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7335
Epoch 53/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7342
Epoch 54/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5720 - accuracy: 0.7285
Epoch 55/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7296
Epoch 56/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7346
Epoch 57/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7343
Epoch 58/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7327
Epoch 59/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5488 - accuracy: 0.7337
Epoch 60/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7349
Epoch 61/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7318
Epoch 62/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5484 - accuracy: 0.7341
Epoch 63/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7356
Epoch 64/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5744 - accuracy: 0.7263
Epoch 65/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7353
Epoch 66/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 67/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7346
Epoch 68/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5509 - accuracy: 0.7329
Epoch 69/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5483 - accuracy: 0.7355
Epoch 70/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7359

#### Alternative Model 2

In [41]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [42]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 16

In [43]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features+number_output_neurons_A2) //2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

66

In [45]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [46]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Output layer
nn_A2.add(Dense(1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [48]:
# Fit the model
fit_model_A2 = nn_A1.fit(X_train_scaled, y_train, epochs=90)

Epoch 1/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7335
Epoch 2/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7333
Epoch 3/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5860 - accuracy: 0.7206
Epoch 4/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7362
Epoch 5/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7367
Epoch 6/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7346
Epoch 7/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7338
Epoch 8/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7342
Epoch 9/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7340
Epoch 10/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 11/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7364
Epoch 12/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7361
Epoch 13/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7329
Epoch 14/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7332
Epoch 15/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 16/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7327
Epoch 17/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7337
Epoch 18/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7379
Epoch 19/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7335
Epoch 20/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 21/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7340
Epoch 22/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7353
Epoch 23/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7360
Epoch 24/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 25/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7348
Epoch 26/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7363
Epoch 27/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 28/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7366
Epoch 29/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 30/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7363
Epoch 31/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 32/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7372
Epoch 33/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7334
Epoch 34/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7140
Epoch 35/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7361
Epoch 36/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 37/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 38/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 39/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 40/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7364
Epoch 41/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7390
Epoch 42/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7363
Epoch 43/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 44/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7376
Epoch 45/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 46/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7374
Epoch 47/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7373
Epoch 48/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 49/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7378
Epoch 50/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7369
Epoch 51/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7382
Epoch 52/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7370
Epoch 53/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7378
Epoch 54/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5658 - accuracy: 0.7326
Epoch 55/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5617 - accuracy: 0.7261
Epoch 56/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7353
Epoch 57/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7385
Epoch 58/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7392
Epoch 59/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7383
Epoch 60/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5455 - accuracy: 0.7376
Epoch 61/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7367
Epoch 62/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7389
Epoch 63/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7391
Epoch 64/90
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7374
Epoch 65/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7387
Epoch 66/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7386
Epoch 67/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7385
Epoch 68/90
804/804 [==============================] - 4s 4ms/step - loss: 0.5390 - accuracy: 0.7391
Epoch 69/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7382
Epoch 70/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7380
Epoch 71/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7387
Epoch 72/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7380
Epoch 73/90
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 74/90
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7370
Epoch 75/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 76/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7389
Epoch 77/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7365
Epoch 78/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 79/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7325
Epoch 80/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7389
Epoch 81/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7388
Epoch 82/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 83/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 84/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7379
Epoch 85/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 86/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7357
Epoch 87/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7403
Epoch 88/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7386
Epoch 89/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7402
Epoch 90/90
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7402

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [49]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5577 - accuracy: 0.7304 - 350ms/epoch - 1ms/step
Loss: 0.5577150583267212, Accuracy: 0.7303789854049683

In [50]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5887 - accuracy: 0.7294 - 439ms/epoch - 2ms/step
Loss: 0.5886929035186768, Accuracy: 0.7294460535049438

In [51]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.7680 - accuracy: 0.4349 - 603ms/epoch - 2ms/step
Loss: 0.7679834961891174, Accuracy: 0.43486881256103516

### Step 3: Save each of your alternative models as an HDF5 file.

In [53]:
# Set the file path for the first alternative model
file_path = file_path = 'AlphabetSoup_A1.h5'

# Export your model to a HDF5 file
nn.save(file_path)

In [54]:
# Set the file path for the first alternative model
file_path = file_path = 'AlphabetSoup_A2.h5'

# Export your model to a HDF5 file
nn.save(file_path)